/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 25px;
  background-color: rgb(255,255,255);
  font-family: arial, sans-serif;
  font-size: 14px;
  color: black;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  color: gray;
}

/* Applies to all elements with <... class="rainbow-box"> specified. */
.rainbow-box {
  background-color: rgb(255,255,255);
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 110px;
  width: 490px;
}